/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/HeaderDark.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
/* Header.module.css */
.HeaderDark_header__hb1In {
    position: absolute; /* Allows the header to overlap other content */
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2%; /* Responsive padding */
    z-index: 10; /* Ensures the header stays above other elements like the video */
  }
  
  .HeaderDark_logo__f7u_w {
    font-size: 3em; /* Relative font size */
    font-weight: bold;
    text-decoration: none;
    color: #000000; /* Logo text color */
    font-family: 'Arial', sans-serif; /* Define a font for the logo */
  }
  
  .HeaderDark_nav__Nc2DN {
    display: flex;
    align-items: center;
  }
  
  .HeaderDark_navList__zMXlv {
    list-style: none;
    display: flex;
    gap: 2em; /* Use em for spacing */
    margin: 0;
    padding: 0;
  }
  
  .HeaderDark_navItem__SiGY0 {
    text-decoration: none;
    color: #000000; /* Nav link color */
    font-size: 1.5em; /* Relative font size */
    padding: 0.5em 0.75em; /* Responsive padding */
    font-family: 'Arial', sans-serif; /* Define the font for nav items */
    transition: background-color 0.3s, color 0.3s;
  }
  
  .HeaderDark_navItem__SiGY0:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Hover effect with transparency */
    border-radius: 0.5em;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .HeaderDark_navList__zMXlv {
      gap: 1em; /* Reduced gap on smaller screens */
    }
    .HeaderDark_logo__f7u_w {
      font-size: 1.2em; /* Smaller logo size */
    }
    .HeaderDark_navItem__SiGY0 {
      font-size: 0.9em;
      padding: 0.4em 0.6em;
    }
  }
  
